:root {
  --primary-color: #8b5fba;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
}

.main-section {
  background-color: #f4f4f4;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  padding: 20px;

  background-color: #f6e0e7;
  background-image: linear-gradient(-135deg, #f6e0e7 0%, #c6dbdb 100%);
}

h1 {
  color: var(--primary-color);
  font-size: 42px;
}

.subtitle {
  height: 50px;
}

.subtitle img {
  height: 100%;
  display: block;
  margin-top: 10px;
}

.btn {
  color: #fff;
  background: var(--primary-color);
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  font-size: 15px;
  padding: 8px 12px;
}

.currency {
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.currency select {
  padding: 10px;
  border: none;
  font-size: 21px;
  background: transparent;
}

.currency img {
  height: 30px;
  margin-left: 10px;
}

.currency input {
  border: 0;
  background: transparent;
  font-size: 30px;
  text-align: right;
}

.calc-container {
  position: relative;
}

.swap-rate-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rate {
  color: var(--primary-color);
  font-size: 14px;
  padding: 0 10px;
}

select:focus,
input:focus,
button:focus {
  outline: 0;
}

.error {
  text-align: center;
  font-size: 16px;
  color: red;
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
}

@media (max-width: 600px) {
  .currency input {
    width: 200px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 32px;
  }
}